/*School Section*/

.table {
    width:45%;
    float:left;
}

#school-section {
    clear:both;
    background-image:linear-gradient(180deg, rgb(81,174,177), rgb(107, 138, 139));
    color:white;
    padding-bottom:80px;
}

@media (min-width:992px) {
    .table {
        width: 45%;
        /* height:500px; */
    }
}

@media (max-width:991px) {
    .table {
        width: 95%;
        margin-left:0px !important;       
        /* height:300px; */
    }
}